/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__image {
  width: 100%;
}
.header .header__more-info-link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header { text-align: center;
  }
}
.to-do-lst {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.to-do-lst__itm {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.to-do-lst__add-itm-cntr {
  display: flex;
}
.to-do-lst__items-lst {
  margin: 0;
  padding: 0px;
}
.to-do-lst__item-cntr, .to-do-lst__items-lst-hdr {
  list-style: none;
}
.text-inp, .checkbox, .btn{
  outline: none;
}
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3a3a;
}
/* Heading */
.to-do-lst__items-lst-hdr,
.to-do-lst__add-itm-lbl {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.text-inp {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.text-inp:focus {
  color: #333;
}

/* New Task */
.to-do-lst__add-itm-lbl {
  display: block;
  margin: 0 0 20px;
}
#new-task {
  width: 318px;
}

/* Task list */
.to-do-lst__item-cntr {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.to-do-lst__item-cntr > * {
  vertical-align: middle;
}

.to-do-lst__item-cntr > .checkbox {
  margin: 0 10px;
}
.to-do-lst__item-cntr > .lbl {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.to-do-lst__item-cntr > .text-inp {
  width: 226px
}
.btn-delete__image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.btn-delete__image:hover {
  transform: rotateZ(0);
}

/* Completed */
#to-do-lst-completed-tasks .lbl {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.to-do-lst__item-cntr .text-inp {
  display: none
}

.to-do-lst__incomplete-itm--edit-mode .text-inp {
  display: inline-block;
  width: 224px
}

.to-do-lst__incomplete-itm--edit-mode .lbl {
  display: none;
}